@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: #f2f2f2; /*(paragraphs) */
  --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

body {
  background-color: var(--Transparent-white);
  font-size: 16px; /* default font size is 15px but i here 16px which reason also rem add  */
}

.container {
  position: relative;

  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 964px;
  padding: 17.44444444444444vh 0 0 0;
}

.card {
  position: relative;
  width: 117.1875vw;
  height: 34.125vw;
  transition: transform 0.1999s;
}

.card:hover {
  transform: scale(1.033); /*transform card zoomout*/
}

.card1 {
  background-color: var(--Bright-orange);
  box-shadow: 4px 0 8px 2px rgba(0, 0, 0, 0.2);
}

.card2 {
  background-color: var(--Dark-cyan);
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
}

.card3 {
  background-color: var(--Very-dark-cyan);
  box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card1 {
  border-radius: 10px 0 0 10px;
}
.card3 {
  border-radius: 0 10px 10px 0;
}
.card1 {
  background-color: var(--Bright-orange);
}
.card2 {
  background-color: var(--Dark-cyan);
}

.card3 {
  background-color: var(--Very-dark-cyan);
}

/*card-inner  */

.cardinner {
  padding: 2.979vw 2.75vw;
}

.cardinner h1 {
  font-family: "Big Shoulders Display", "cursive";
  font-size: 2.9625vw;
  font-style: normal;
  font-weight: 900;
  padding-top: 2.4375vw;

  color: var(--Very-light-gray);
}

.paragraph {
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1vw;
  font-family: "Lexend Deca", sans-serif;
  color: var(--Transparent-white);
  line-height: 1.5875vw;
  padding-top: 2rem;
  display: block;
}

.cardinner button {
  background-color: var(--Transparent-white);
  border: 2px var(--Transparent-white) solid;
  border-radius: 50px;
  padding: 1.0625vw 1.6875vw;
  font-size: 1vw;
  margin-top: 5.925vw;
}
.btn_1 {
  color: var(--Bright-orange);
}

.btn_2 {
  color: var(--Dark-cyan);
}

.btn_3 {
  color: var(--Very-dark-cyan);
}
.cardinner button:hover {
  color: var(--Transparent-white);
  background-color: transparent;
  border: 2px var(--Transparent-white) solid;
}
